:root {
    --gap: 20px;
    --imgWidth: 200px;
    --linhas:4;
    --colunas:5;
}
.hud{
    margin: auto;
    width: calc(((var(--gap) + var(--imgWidth)) * var(--colunas)) - var(--gap));
    text-align: center;
}
.grid{
    gap: var(--gap);
    margin: auto;
    display: flex;
    height: calc(((var(--gap) + var(--imgWidth)) * var(--linhas)) - var(--gap));
    width: calc(((var(--gap) + var(--imgWidth)) * var(--colunas)) - var(--gap));
    flex-wrap: wrap;
}
.grid img{
    width: var(--imgWidth);
    transition: all .3s;
}
.grid img.selecionada{
    transform: rotateY(180deg) scale(1);
}
.grid img.selecionada.desabilitada{
    animation-name: sumir;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
@keyframes sumir {
    from{
        transform: rotateY(180deg) scale(.97);
    }
    30%{
        transform: rotateY(180deg) scale(1.1);
    }
    to{
        transform: rotateY(180deg) scale(0);
    }
}
@media screen and (max-width:1100px) {
    :root {
        --gap: 10px;
        --imgWidth: 120px;
    }
}
@media screen and (max-width:650px) {
    :root {
        --gap: 10px;
        --imgWidth: 80px;
        --linhas:5;
        --colunas:4;
    }
}